{% extends 'layout.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}

    {% include 'navBarForm.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-12">

                {{ form_start(form) }}

                {{ form_row ( form.civility ) }}

                {{ form_row ( form.lastName ) }}

                {{ form_row ( form.firstName ) }}

                {{ form_row ( form.customerAddress ) }}

                {{ form_row ( form.customerZipCode) }}

                {{ form_row ( form.customerCity, {'attr':{'data-city':app.session.get('civilStatus').customerCity ?? ''} } ) }}

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Suivant</button>
                </div>

                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('apiAdressCustomer') }}
{% endblock %}

{% block footer %}{% endblock %}
