{% extends 'layout.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}
    <h1 class="bg-primary">Saisie des finances</h1>

    <div class="container">
        <div class="row">
            <div class="col-12">

                {{ form_start(form) }}

                {{ form_row ( form.zipCode ) }}

                {{ form_row ( form.city ) }}

                {{ form_row ( form.acquisitionDate ) }}

                {{ form_row ( form.zone ) }}

                {{ form_row ( form.duration ) }}

                {{ form_row ( form.surfaceArea ) }}

                {{ form_row ( form.purchasePrice ) }}

                {{ form_row ( form.parkingAmount ) }}

                {{ form_row ( form.notaryFees ) }}

                {{ form_row ( form.otherFeesAcquisition ) }}

                {{ form_row ( form.monthlyRent ) }}

                {{ form_row ( form.borrowedAmount ) }}

                {{ form_row ( form.inflow ) }}

                {{ form_row ( form.fundingPeriod ) }}

                {{ form_row ( form.adi ) }}

                {{ form_row ( form.managementFees ) }}

                {{ form_row ( form.rentalFee ) }}

                {{ form_row ( form.rentInsurance ) }}

                {{ form_row ( form.coownershipCharges ) }}

                {{ form_row ( form.propertyTax ) }}

                {% include 'popup.html.twig' %}

                <div class="text-center">
                    <input type="button" class="btn btn-primary" value="Précédent" onclick="history.go(-1)">
                    <button type="submit" class="btn btn-primary">Suivant</button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('requestApi') }}
        {{ encore_entry_script_tags('requestArea') }}
    {% endblock %}

    {% block footer %}{% endblock %}
