{% extends 'layout.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}


{% block body %}
    <h1 class="bg-primary">Saisie des informations</h1>
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ form_start(form) }}

                {{ form_row ( form.civility ) }}

                {{ form_row ( form.lastName ) }}

                {{ form_row ( form.firstName ) }}

                {{ form_row ( form.customerAddress ) }}

                {{ form_row ( form.customerZipCode) }}

                {{ form_row ( form.customerCity) }}

            {### Fiscalité ###}

                {{ form_row ( form.familySituation ) }}

                {{ form_row ( form.numberOfChildren ) }}

                {{ form_row ( form.numberOfTaxShares ) }}

                {{ form_row ( form.salaryDeclared ) }}

                {{ form_row ( form.landIncomes ) }}

                {{ form_row ( form.bic ) }}

                {{ form_row ( form.bnc ) }}

                {{ form_row ( form.ba ) }}

                {{ form_row ( form.incomeTax ) }}

            {### Investissement ###}

                {{ form_row ( form.zipCode ) }}

                {{ form_row ( form.city ) }}

                {{ form_row ( form.zone ) }}

                {{ form_row ( form.acquisitionDate ) }}

                {{ form_row ( form.duration ) }}

                {{ form_row ( form.surfaceArea ) }}

                {{ form_row ( form.purchasePrice ) }}

                {{ form_row ( form.parkingAmount ) }}

                {{ form_row ( form.notaryFees ) }}

                {{ form_row ( form.otherFeesAcquisition ) }}

                {{ form_row ( form.totalAmountAcquisition ) }}

                {{ form_row ( form.monthlyRent ) }}

            {### Financement  ###}

                {{ form_row ( form.borrowedAmount ) }}

                {{ form_row ( form.inflow ) }}

                {{ form_row ( form.fundingPeriod ) }}

                {{ form_row ( form.adi ) }}

            {### Frais  ###}

                {{ form_row ( form.managementFees ) }}

                {{ form_row ( form.rentalFee ) }}

                {{ form_row ( form.rentInsurance ) }}

                {{ form_row ( form.coownershipCharges ) }}

                {{ form_row ( form.propertyTax ) }}

                <div class="text-center"><button type="submit" class="btn btn-primary">Calculer</button></div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('requestApi') }}
{% endblock %}

{% block footer %}{% endblock %}
