{% extends 'layout.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}


{% block body %}
    <h1 class="bg-primary">Saisie des informations</h1>
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ form_start(form) }}

                {{ form_row ( form.lastName ) }}

                {{ form_row ( form.firstName ) }}

                {{ form_row ( form.address ) }}

                {{ form_row ( form.zipCode ) }}

                {{ form_row ( form.city ) }}

                {{ form_row ( form.zone ) }}

                {{ form_row ( form.acquisitionDate ) }}

                {{ form_row ( form.duration ) }}

                {{ form_row ( form.surfaceArea ) }}

                {{ form_row ( form.purchasePrice ) }}

                {{ form_row ( form.notaryFees ) }}

                {{ form_row ( form.otherFeesAcquisition ) }}

                {{ form_row ( form.totalAmountAcquisition ) }}

                <div class="text-center"><button type="submit" class="btn btn-primary">Calculer</button></div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}


{% block footer %}{% endblock %}
