{% extends 'layout.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}

    {% include 'navBarForm.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-12">

                {{ form_start(form) }}

                {{ form_row ( form.familySituation ) }}

                {{ form_row ( form.numberOfChildren ) }}

                {{ form_row ( form.numberOfTaxShares ) }}

                {{ form_row ( form.salaryDeclared ) }}

                {{ form_row ( form.landIncomes ) }}

                {{ form_row ( form.bic ) }}

                {{ form_row ( form.bnc ) }}

                {{ form_row ( form.ba ) }}

                {{ form_row ( form.incomeTax ) }}

                <div class="text-center"><button type="submit" class="btn btn-primary">Suivant</button></div>

                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
