{% extends 'layout.html.twig' %}

{% block body %}

        <h1 class="bg-primary topResult">Résultat de la simulation</h1>

    <table class="result">

        <tr>
            <td class="left">
                <p>Nom :</p>
            </td>
            <td>
                <p>{{ app.session.get('simulator').lastName }}</p>
            </td>
        </tr>

        <tr>
            <td class="left">
                <p>Prénom :</p>
            </td>
            <td>
                <p>{{ app.session.get('simulator').firstName }}</p>
            </td>
        </tr>

        <tr>
            <td class="left">
                <p>Adresse :</p>
            </td>
            <td>
                <p>{{ app.session.get('simulator').address }}</p>
            </td>
        </tr>

        <tr>
            <td class="left">
                <p>Code postal :</p>
            </td>
            <td>
                <p>{{ app.session.get('simulator').zipCode }}</p>
            </td>
        </tr>

        <tr>
            <td class="left">
                <p>Ville :</p>
            </td>
            <td>
                <p>{{ app.session.get('simulator').city }}</p>
            </td>
        </tr>

        <tr>
            <td class="left bg-secondary highlight">
                <p>Zone :</p>
            </td>
            <td class="bg-secondary highlight">
                <p>{{ app.session.get('simulator').zone }}</p>
            </td>
        </tr>

        <tr>
            <td class="left">
                <p>Année d'acquisition :</p>
            </td>
            <td>
                <p>{{app.session.get('simulator').acquisitionDate|date('d/m/Y') }}</p>
            </td>
        </tr>

        <tr>
            <td class="left bg-secondary highlight">
                <p>Durée :</p>
            </td>
            <td class="bg-secondary highlight">
                <p>{{ app.session.get('simulator').duration }} ans</p>
            </td>
        </tr>

        <tr>
            <td class="left">
                <p>Surface :</p>
            </td>
            <td>
                <p>{{ app.session.get('simulator').surfaceArea }} m2</p>
            </td>
        </tr>

        <tr>
            <td class="left">
                <p>Prix d'acquisition :</p>
            </td>
            <td>
                <p>{{ app.session.get('simulator').purchasePrice }} €</p>
            </td>
        </tr>

        <tr>
            <td class="left">
                <p>Frais de notaire :</p>
            </td>
            <td>
                <p>{{ app.session.get('simulator').notaryFees }} €</p>
            </td>
        </tr>

        <tr>
            <td class="left">
                <p>Autres frais d'acquisition :</p>
            </td>
            <td>
                <p>{{ app.session.get('simulator').otherFeesAcquisition }} €</p>
            </td>
        </tr>

        <tr>
            <td class="left">
                <p>Montant total de l'acquisition :</p>
            </td>
            <td>
                <p>{{app.session.get('simulator').totalAmountAcquisition }} €</p>
            </td>
        </tr>

        <tr>
            <td class="left bg-secondary highlight">
                <p>Votre avantage fiscal :</p>
            </td>
            <td class="bg-secondary highlight">
                <p> {{ result }} €</p>
            </td>
        </tr>
    </table>

{% endblock %}