{% extends 'layout.html.twig' %}

{% block body %}

    <div class="row bg-secondary topResult">
        <h1>Résultat de la simulation</h1>
    </div>

    <table class="result">

        <tr>
            <td class="left">
                <p>Nom :</p>
            </td>
            <td>
                <p>{{ simulator.lastName }}</p>
            </td>
        </tr>

        <tr>
            <td class="left">
                <p>Prénom :</p>
            </td>
            <td>
                <p>{{ simulator.firstName }}</p>
            </td>
        </tr>

        <tr>
            <td class="left">
                <p>Code postal :</p>
            </td>
            <td>
                <p>{{ simulator.zipCode }}</p>
            </td>
        </tr>

        <tr>
            <td class="left">
                <p>Ville :</p>
            </td>
            <td>
                <p>{{ simulator.city }}</p>
            </td>
        </tr>

        <tr>
            <td class="left bg-secondary highlight">
                <p>Zone :</p>
            </td>
            <td class="bg-secondary highlight">
                <p>{{ simulator.zone }}</p>
            </td>
        </tr>

        <tr>
            <td class="left">
                <p>Année d'acquisition :</p>
            </td>
            <td>
                <p>{{ simulator.acquisitionDate|date('d/m/Y') }}</p>
            </td>
        </tr>

        <tr>
            <td class="left bg-secondary highlight">
                <p>Durée :</p>
            </td>
            <td class="bg-secondary highlight">
                <p>{{ simulator.duration }} ans</p>
            </td>
        </tr>

        <tr>
            <td class="left bg-secondary">
                <p>Surface :</p>
            </td>
            <td class="bg-secondary">
                <p>{{ simulator.surfaceArea }} m2</p>
            </td>
        </tr>

        <tr>
            <td class="left">
                <p>Prix d'acquisition :</p>
            </td>
            <td>
                <p>{{ simulator.purchasePrice }} €</p>
            </td>
        </tr>

        <tr>
            <td class="left">
                <p>Frais de notaire :</p>
            </td>
            <td>
                <p>{{ simulator.notaryFees }} €</p>
            </td>
        </tr>

        <tr>
            <td class="left">
                <p>Autres frais d'acquisition :</p>
            </td>
            <td>
                <p>{{ simulator.otherFeesAcquisition }} €</p>
            </td>
        </tr>

        <tr>
            <td class="left">
                <p>Montant total de l'acquisition :</p>
            </td>
            <td>
                <p>{{ simulator.totalAmountAcquisition }} €</p>
            </td>
        </tr>

        <tr>
            <td class="left bg-secondary highlight">
                <p>Votre avantage fiscal :</p>
            </td>
            <td class="bg-secondary highlight">
                <p> AVANTAGE FISCAL €</p>
            </td>
        </tr>
    </table>

{% endblock %}