{% extends 'layout.html.twig' %}

{% block body %}
    <h1 class="variablesTitle bg-primary">Variables</h1>

    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Prix max par m²</th>
                <th>Base fiscale max</th>
                <th>Taux pour 6 ans</th>
                <th>Taux pour 9 ans</th>
                <th>Taux pour 12 ans</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for variable in variables %}
                <tr>
                    <td>{{ variable.maximumPricePerSquareMeter }}</td>
                    <td>{{ variable.maximumTaxBase }}</td>
                    <td>{{ variable.rateFor6Years }}</td>
                    <td>{{ variable.rateFor9Years }}</td>
                    <td>{{ variable.rateFor12Years }}</td>
                    <td>
                        <a href="{{ path('variable_edit', {'id': variable.id}) }}"><i class="far fa-edit"></i>
                            éditer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ form_start(form) }}
        {{ form_row(form.jsonFile) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
