{% extends 'base.html.twig' %}

{% block title %}Variable{% endblock %}

{% block body %}
    <h1>Variable</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ variable.id }}</td>
            </tr>
            <tr>
                <th>MaximumPricePerSquareMeter</th>
                <td>{{ variable.maximumPricePerSquareMeter }}</td>
            </tr>
            <tr>
                <th>MaximumTaxBase</th>
                <td>{{ variable.maximumTaxBase }}</td>
            </tr>
            <tr>
                <th>RateFor6Years</th>
                <td>{{ variable.rateFor6Years }}</td>
            </tr>
            <tr>
                <th>RateFor9Years</th>
                <td>{{ variable.rateFor9Years }}</td>
            </tr>
            <tr>
                <th>RateFor12Years</th>
                <td>{{ variable.rateFor12Years }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('variable_index') }}">back to list</a>

    <a href="{{ path('variable_edit', {'id': variable.id}) }}">edit</a>

    {{ include('variable/_delete_form.html.twig') }}
{% endblock %}
