{% extends 'layoutAdmin.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1 class ="bg-primary"> Utilisateur</h1>

<div class="container-fluid">
    <table class="table">
        <tbody>

            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{% if user.granted('ROLE_ADMIN') %}
                        Administrateur
                    {% else %}Utilisateur
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ user.firstName }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row justify-content-center">

    <div class="col offset-3"><a href="{{ path('user_index') }}">Retour à la liste</a></div>

        <div class="col"><a href="{{ path('user_edit', {'id': user.id}) }}">Edition</a></div>

    </div>
    <div class="row justify-content-center pt-3">
    {{ include('user/_delete_form.html.twig') }}
    </div>
    </div>
{% endblock %}
